version: '3.8'

services:
  node1:
    build: .
    ports:
      - "5001:5000"
    environment:
      - PORT=5000

  node2:
    build: .
    ports:
      - "5002:5000"
    environment:
      - PORT=5000
