name: Go CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Reset dependencies
      run: |
        rm -f go.sum
        go mod tidy

    - name: Run tests
      run: go test ./src/... -v

    - name: Build
      run: go build -v ./src/...
